<h1> All Invoices </h1>

<div id="invoices", class="columns-4">
  <ul><% @invoices.each do |invoice| %>
    <div id="invoice-<%= invoice.id %>">
      <li> <%= link_to "Invoice ##{invoice.id}",
           admin_invoice_path(invoice.id) %> 
      </li>
    </div>
  <% end %> </ul>
</div>